/* Page */

body
{
  font: 10pt Verdana, sans-serif;  
}

#header .date
{
  padding-left: 5px;
}

#header .user-info
{
  padding-right: 14px;
}

#header .nav
{
  padding-right: 10px;  
}

#header .nav-menus td
{
  text-align:  center;
  white-space: nowrap;
}

#header .nav-menus select
{
  background-color: #555;
  color: #eee;
  font-size: 11px;
}

#header .logo
{
  padding: 4px 8px 8px 8px;
}

#header .title a
{
  font-size: 18px;
  text-decoration: none;
  color: #061C11 ! important;
}

#footer
{
  text-align: center;
}

#body
{
  margin:  5px 8px 5px 8px;
}

/* Message boxes */

.message-box .title
{
  font-size: small;
  font-weight: bold;
  color: #cccccc;
  background-color: #000033;
}

.message-box .icon
{
  font-family: Times, "Times New Roman", serif;
  font-weight: bold;
  font-size: 40px;
  color: #990000;
}

.message-box .body
{
  background-color: #e0e0e0;
}

/* Admin tools */

.admin .nav
{
  margin-bottom: 1em;
}

.admin .pages-nav
{
  margin-left: 3px;
  margin-bottom: 1em;
}

.admin .pages-nav .summary
{
  font-size: 90%;
}

.admin form table tr
{
  vertical-align: baseline;
}

.admin form td.field
{
  padding-right: 1em;
}

.admin form label,
.admin form .label
{
  text-align: right;
  font-weight: bold;  
}

.admin .form label .required,
.admin .form .label .required
{
  color: #e00000;
}

.admin form .error
{
  color: #e00000;
  font-size: 90%;
}

.admin .search table.form
{
  background-color: #e0e0e0;
  border: 2px solid #aaaaaa;
  padding: 6px; 
}

.admin .object .list .header,
.admin .object .edit .header
{
  color: white;
  background-color: #333399;
  font-weight: bold;
}

.admin .object .list .object td
{
  padding-left: 8px;
  padding-right: 8px;
}

.admin .object .list .row-odd td
{
  background-color: #ffffee;
}

.admin .object .list .row-even td,
.admin .object .edit .row-even td
{
  background-color: #eeeeee;
}

.admin .object .list .object .first
{
  border-left: 1px solid silver;  
}

.admin .object .list .object td.last
{
  border-right: 1px solid silver;  
}

.admin .object .list table
{
  border-bottom: 1px solid silver;
}

.admin .object .edit table
{
  border-spacing: 0;
  background-color: #e0e0e0;
  border: 1px solid silver;
}

.admin .object .edit .header .title
{
  text-transform: uppercase;
  padding: 3px;
}

.admin .object .edit td.label
{
  vertical-align: top;
  padding-top: 4px;
  padding-left: 8px;
  padding-right: 5px;
}

.admin .object .edit .buttons
{
  margin-top: 8px;
}

.admin .object .edit .field
{
  padding-left: 3px;  
}

.admin .object .edit .row-odd td
{
  background-color: #e0e0e0;
}

.admin .object .edit .row-even td
{
  background-color: #e0e0e0;
}

